<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <main class="content-wrapper mt-5" style="margin-top: 80px !important">
      <div class="container" style="width: 95% !important">
        <div class="row justify-content-md-center mb-5">
          <div class="col-md-12 mt-5">
            <h2 class="text-center">
              Cómo enviar correos electrónicos desde un formulario con Node.js y
              Nodemailer
              <hr />
            </h2>
          </div>

          <img
            class="img-fluid"
            style="max-width: 550px"
            src="public/imgs/nodejs.png"
            alt="WeB Developer - urian V" />
        </div>
      </div>
    </main>
  </body>
</html>
